:root {
    --basic-black: #000000;
    --basic-black-light: #333333;
    --basic-brown: #766357;
    --basic-brown-dark: #604E43;
    --basic-extra-brown: #503E33;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-blue-dark: #669EC0;
    --basic-blue-extra-dark: #5496BD;
    --basic-grey: #F2F2F2;
    --basic-grey-dark: #EEEEEE;
    --basic-red: #FF0000;
    --basic-grey-extra-dark: #CACACA;
    
 
    --special: #669EC0;
}


pre {
  line-height: normal;
  font-family:  "PT Sans", sans-serif;
  color: #333333;
  text-align: center;
}


body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black-light);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    
    width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 200px 1fr 120px;
    min-height: 100vh;
}

header {
outline: 2px red;
outline-offset: -2px;
}

a {
  text-decoration: none;
}
          
img {
max-width: 100%;
height: auto;
}

.main-menu {
  list-style: none;    
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.main-menu::after {
  content: "";
  grid-column: 3/4;
  grid-row: 1/-1;
}

.main-navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main-navigation img {
  grid-column: 3/4;
  grid-row: 1/-1;
  justify-self: center; 
}

.big-picture {
  display: grid;
  justify-items: center; 
  align-items: center;
}
.big-picture img {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.big-picture::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url("img/Shape.png");
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: flex-end;
}


.main-menu a {
    color: var(--basic-black); 
    text-decoration: none;
    font-weight: 700;

}

.main-menu a:hover {
    color: var(--basic-blue); 
}

.main-menu a:active {
    color: var(--basic-black);
    opacity: .3;
}

.page-main h1 {
    display: grid;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.features h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  
}

.features p {
   text-align: center;
}

.features ul {
  list-style: none;
}

.features-list {
  background-color: var(--basik-grey-dark);
  color: var(--basic-black);
  list-style: none;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features-addition {
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  justify-items: center;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}


.features-with-image-left {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 1200px;
  height: 256px;
  list-style: none;    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 70px 96px;  
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}

.features-with-image-left img {
  grid-column: 1/3;
  grid-row: 1/-1;
}

.features-with-image-rigth {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 1200px;
  height: 256px;
  list-style: none;    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 70px 96px;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}
.features-with-image-rigth img {
  grid-column: 2/-1;
  grid-row: 1/-1;
}


.features-list {
background-color: var(--basic-white);
color: var(--basic-black);
list-style: none;    
display: grid;
grid-template-columns: repeat(3, 1fr);
margin: 0;
padding: 0;
justify-items: center;
text-align: center;
grid-column: 1/-1;
grid-row: 1/-1;
}
.search-for-hotels button {
  font-size: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-brown);
}

.search-for-hotels button:hover {
  background-color: var(--basic-brown-dark);
}

.search-for-hotels button:active {
  background-color: var(--basic-extra-brown);
  color: rgba(255, 255, 255, 0.4);
}

.search-for-hotels {
text-align: center;
}

.detail button{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-blue);
}


.detail button:hover {
  background-color: var(--basic-blue-dark);
}

.detail button:active {
  background-color: var(--basic-blue-extra-dark);
  color: rgba(255, 255, 255, 0.4);
}


.reservation button{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-brown);
}


.reservation button:hover {
  background-color: var(--basic-brown-dark);
}

.reservation button:active {
  background-color: var(--basic-extra-brown);
}

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  color: var(--basic-black);
}

.main-footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer ul {
  list-style: none;
}

.main-footer .website-by {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hotel {
  list-style-type: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.hotel a {
  list-style: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel a:hover {
  color: var(--basic-blue);
}

.hotel a:active {
  color: var(--basic-grey-extra-dark);
}

.sort {
  list-style-type: none;
}
  

.sort a{
  list-style: none;
  color: var(--basic-grey-extra-dark); 
  
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}

.sort a:hover {
  color: var(--basic-blue);
}

.sort a:active {
  color: var(--basic-black);
  text-decoration: none;
}

.sorting{
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

.additional-information {
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

.mini-map {
  weight: 1200px;
  justify-items: center;
  align-items: center;
}
