:root {
    --basic-black: #000000;
    --basic-black-light: #333333;
    --basic-brown: #766357;
    --basic-brown-dark: #604E43;
    --basic-extra-brown: #503E33;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-blue-dark: #669EC0;
    --basic-blue-extra-dark: #5496BD;
    --basic-grey: #F2F2F2;
    --basic-grey-dark: #EEEEEE;
    --basic-red: #FF0000;
    --basic-grey-extra-dark: #CACACA;
    
 
    --special: #669EC0;
}


body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black-light);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
          
img {
max-width: 100%;
height: auto;
}

.main-menu {
    list-style: none;
  }


.main-menu a {
    color: var(--basic-black); 
    text-decoration: none;
    font-weight: 700;
}
.main-menu a:hover {
    color: var(--basic-blue); 
}

.main-menu a:active {
    color: var(--basic-black);
    opacity: .3;
}

.page-main h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.featires h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.featires ul {
  list-style: none;
}

.featires-list {
  background-color: var(--basik-grey-dark);
  padding: 0;
  margin: 0;
}

.features-addition {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.features-with-image {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.search-for-hotels button {
  font-size: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-brown);
}

.search-for-hotels button:hover {
  background-color: var(--basic-brown-dark);
}

.search-for-hotels button:active {
  background-color: var(--basic-extra-brown);
  color: rgba(255, 255, 255, 0.4);
}

.detail button{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-blue);
}


.detail button:hover {
  background-color: var(--basic-blue-dark);
}

.detail button:active {
  background-color: var(--basic-blue-extra-dark);
  color: rgba(255, 255, 255, 0.4);
}


.reservation button{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  background-color: var(--basic-brown);
}


.reservation button:hover {
  background-color: var(--basic-brown-dark);
}

.reservation button:active {
  background-color: var(--basic-extra-brown);
}

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  color: var(--basic-black);
}

.main-footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer ul {
  list-style: none;
}

.main-footer .website-by {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hotel {
  list-style-type: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.hotel a {
  list-style: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel a:hover {
  color: var(--basic-blue);
}

.hotel a:active {
  color: var(--basic-grey-extra-dark);
}

.sort {
  list-style-type: none;
}
  

.sort a{
  list-style: none;
  color: var(--basic-grey-extra-dark); 
  
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}

.sort a:hover {
  color: var(--basic-blue);
}

.sort a:active {
  color: var(--basic-black);
  text-decoration: none;
}

.sorting{
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

.additional-information {
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

/*.arrows {
 color: var(--basic-grey-extra-dark);
}
.arrows a {
 color: var(--basic-grey-extra-dark);
}

.arrows a:hover {
  color: var(--basic-black);
}

.arrows a:active {
  color: var(--basic-blue);
}*/