:root {
    --basic-black: #000000;
    --basic-brown: #766357 ;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-grey: #EEEEEE ;

body {
        min-width: 960px;
        margin: 0;
        padding: 0;
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        color: var(--basic-white);
        text-transform: uppercase;
        background-color: var(--basic-black);
        background-image: url("../img/bg.jpg");
        background-position: top center;
        background-repeat: no-repeat;

a {
  text-decoration: none;
 }
          
img {
max-width: 100%;
height: auto;
 }

 .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-white);
    background-color: transparent;
  }


